body {
    font-family: 'Josefin Sans', sans-serif;
    height: 5000px;
}

/* Variables */
:root {
    --mainColor:#008aff;
    --darkColorBlue: #13287e;
    --grayColor: #474747;
    --yallowColor: #ffe824
}

/*Start Header */
.header {
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.header .menu-website ul li a{
    color: var(--mainColor);
    display: block;
    padding: 8px 20px;
    border-radius: 36px;
    text-decoration: none;
}

.header .menu-website ul li a:hover{
    background-color: var(--mainColor);
    color: #fff;
}

.header .menu-website > ul > li:last-child a{
    background-color: #ffe824;
    color: #474747;
    padding: 8px 15px;
}
.header .menu-website ul li {
    position: relative;
}
.header .menu-website ul li ul {
    position: absolute;
    min-width: 200px;
    padding: 0;
    list-style: none;
    background: #fff;
    border-radius: 4px;
    top: 100%;
    left: 0;
    box-shadow: 0 0 3px #e3e3e3;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.header .menu-website ul li ul::after{
    content: '';
    position: absolute;
    top: -7px;
    left: 34px;
    transform: rotate(45deg);
    box-shadow: -2px 2px 2px 0px #1818180a;
    border: 7px solid red;
    border-color: transparent transparent white white;
    transform: rotate(135deg);
}
.header .menu-website ul li:hover ul{
    opacity: 1;
    visibility: visible;
}

/*End Header */

/* Start Slider */
.slider {
    background-color: #f4f9ff;
}
.slider .slide {
    background-repeat: no-repeat;
    background-position:right top ;
    height: 75vh;
}
.slider .owl-nav {
    position: absolute;
    top: 50%;
    width: 97%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
}
.slider .owl-nav button {
    width: 40px;
    height: 40px;
    background: #ffe824 !important;
    border-radius: 50%;
}
.slider .owl-nav button.owl-next {
    float: right;
}
.slider .owl-dots {
    text-align: center;
    position: absolute;
    bottom: 30px;
    background: #fff;
    display: inline-block;
    right: 50%;
    transform: translateX(50%);
    padding: 0 18px 9px;
    border-radius: 30px;
    box-shadow: 0 0 4px #c7c7c775;
}

.slider .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    background-color: var(--darkColorBlue) !important;
    margin: 0 4px;
    border-radius: 50%;
}
.slider .owl-dots .owl-dot.active {
    background: var(--yallowColor) !important;
}
/* End Slider */


/* Start Services */
.services .image img {
    border-radius: 150px 0 150px 0;
}
.services .items .item::before{
    content: '';
    width: 5px;
    height: 5px;
    background: var(--mainColor);
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -2px;
}
.services .row .col-md-6:last-child .image img {
    border-radius: 0 150px 0px 150px;
}
/* End Services */

/* Classes */

.blue-color {
    color: var(--mainColor);
}
.bg-blue {
    background-color: #ecf6fe;
}
.dark-blue-color {
    color: var(--darkColorBlue);
}
.gray-color {
    color: var(--grayColor);
}
.btn-primary {
    background-color: var(--yallowColor);
    border-color: var(--yallowColor);
    padding: 15px 40px ;
    border-radius: 34px;
    color: #686440;
}
.btn-primary:hover {
    background-color: #e2ce1d;
    border-color: #e2ce1d;
}
.close-menu,
.show-menu {
    display: none;
}
@media(max-width:776px){

    .header .menu-website {
        position: fixed;
        width: 250px;
        background-color: #f7f7f7;
        right: -100%;
        height: 100%;
        top: 0;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 40px !important;
        box-shadow: 0 0 5px #0000002b;
        transition: all 0.2s;
    }
    .header .menu-website.show {
        right: 0;
    }
    .header .menu-website ul{
        margin: 25px;
    }
    .header .menu-website ul li {
        display: block;
    }
    .header .menu-website ul li:last-child a {
        margin-top: 40px;
    }
    .show-menu {
        display: block;
    }
    .close-menu {
        display: inline-block;
        background-color: var(--mainColor);
        padding: 6px 11px;
        color: #fff;
        border-radius: 3px;
        font-size: 13px;
    }
}