body {
    font-family: 'Josefin Sans', sans-serif;
}

/* Variables */
:root {
    --mainColor:#008aff;
    --darkColorBlue: #13287e;
    --grayColor: #474747;
    --yallowColor: #ffe824
}

/*Start Header */
.header {
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.header .menu-website ul li a{
    color: var(--mainColor);
    display: block;
    padding: 8px 20px;
    border-radius: 36px;
    text-decoration: none;
}

.header .menu-website ul li a:hover{
    background-color: var(--mainColor);
    color: #fff;
}

.header .menu-website ul li:last-child a{
    background-color: #ffe824;
    color: #474747;
    padding: 8px 15px;
}

/*End Header */

/* Start Slider */
.slider {
    background-color: #f4f9ff;
}
.slider .slide {
    background-repeat: no-repeat;
    background-position:right top ;
    height: 75vh;
}
/* End Slider */

/* Classes */

.blue-color {
    color: var(--mainColor);
}
.bg-blue {
    background-color: #ecf6fe;
}
.dark-blue-color {
    color: var(--darkColorBlue);
}
.gray-color {
    color: var(--grayColor);
}
.btn-primary {
    background-color: var(--yallowColor);
    border-color: var(--yallowColor);
    padding: 15px 40px ;
    border-radius: 34px;
    color: #686440;
}
.btn-primary:hover {
    background-color: #e2ce1d;
    border-color: #e2ce1d;
}
.close-menu,
.show-menu {
    display: none;
}
@media(max-width:776px){

    .header .menu-website {
        position: fixed;
        width: 250px;
        background-color: #f7f7f7;
        right: -100%;
        height: 100%;
        top: 0;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 40px !important;
        box-shadow: 0 0 5px #0000002b;
        transition: all 0.2s;
    }
    .header .menu-website.show {
        right: 0;
    }
    .header .menu-website ul{
        margin: 25px;
    }
    .header .menu-website ul li {
        display: block;
    }
    .header .menu-website ul li:last-child a {
        margin-top: 40px;
    }
    .show-menu {
        display: block;
    }
    .close-menu {
        display: inline-block;
        background-color: var(--mainColor);
        padding: 6px 11px;
        color: #fff;
        border-radius: 3px;
        font-size: 13px;
    }
}